@using GettingData.Models
@model Teacher

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTeacher</title>
</head>
<body>

    <a asp-action="getstudentlist" asp-controller="student">Öğrenci Listesine Git</a>

    <h2>Öğretmen Ekleme Sayfası</h2>
    <form method="post" asp-action="addteacher" asp-controller="teacher">
        <div>
            <label asp-for="FirstName">İsim</label> <br />
            <input type="text" asp-for="FirstName"/> <br />        
        </div>
        <div>
             <label asp-for="LastName">Soyisim</label> <br />
            <input type="text" asp-for="LastName"/> <br />
        </div>
        <div>
            <label asp-for="BranchId">Branş</label> <br />
            <select asp-for="BranchId" asp-items="@(new SelectList(ViewBag.Branches,"BranchId","BranchName"))"></select>           
        </div>
        <div>
            <button type="submit">Öğretmen Ekle</button>
        </div>
    </form>
</body>
</html>
