@model Job
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Meslek Güncelleme Sayfası</h1>

<form class="form-group" method="post" asp-action="UpdateJob" asp-controller="Job">
    <div>
        <label asp-for="Name">Ürün Adı</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div style="margin-top:10px">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>

