@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Müşteri Adı</th>
            <th>Müşteri Şehri</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Job.Name</td>
                <td><a href="/Customer/DeleteCustomer/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Customer/UpdateCustomer/@item.Id" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Customer/AddCustomer">Yeni Müşteri Ekle</a>


