@model Customer
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Müşteri Güncelleme Sayfası</h1>

<form class="form-group" method="post" asp-action="UpdateCustomer" asp-controller="Customer">
    <div>
        <label asp-for="Name">Müşteri Adı</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="City">Müşteri Şehri</label>
        <input asp-for="City" type="text" class="form-control" />
        <span style="color:red" asp-validation-for="City"></span>
    </div>
    <div style="margin-top:10px">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>
