@* yorum satırı *@

<p>
    @DateTime.Now <span>Şimdiki zaman paylaşıldı</span>
</p>

@{
    string FirstName = "Fırat";
    int Age = 24;

    string fullName = FirstName + " " + Age;
}

<p>Full Name: @fullName</p>