@model Teacher

@{
    string path = "/images/" + Model.TeacherGender + ".png";
}


<div class ="card m-3" style="min-width:18rem;max-width:18rem;">
    <div class="card-header">
        @Model.TeacherName
    </div>
    <img src="@path" height="400" class="card-img-top"/>
    <div class="card-footer">
        <a asp-controller="Teacher" asp-action="DeleteTeacher" asp-route-id="@Model.TeacherId" class="btn btn-danger">Sil</a>
    </div>
</div>
