@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>

<form class="form-group" method="post" asp-action="AddProduct" asp-controller="Product">
    <div>
        <label asp-for="Name">Ürün Adı</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Price">Ürün Fiyatı</label>
        <input asp-for="Price" type="text" class="form-control" />
        <span style="color:red" asp-validation-for="Price"></span>
    </div>
    <div>
        <label asp-for="Stock">Ürün Stok</label>
        <input asp-for="Stock" type="text" class="form-control" />
        <span style="color:red" asp-validation-for="Stock"></span>
    </div>
    <div style="margin-top:10px">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>

