@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Stoğu</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Product/AddProduct">Yeni Ürün Ekle</a>

