@model CategoryListViewModel;

<h1>Category List</h1>

<div class="list-group">
     <a href="/product/listele" class="list-group-item">Tüm Ürünler</a>
    @foreach (var category in Model.Categories)
    {
        var css = "list-group-item";
        if(category.CategoryId == Model.CurrentCategory)
        {
            css += " active";
        }
        <a href="/product/listele?category=@category.CategoryId" class="@css">@category.CategoryName</a>
    }
</div>

