<div class="sidebar">
    <a href="/Product/Index">Ürünler</a>
    <a href="/Customer/Index">Müşteriler</a>
    <a href="/Category/Index">Kategoriler</a>
    <a href="/Job/Index">Meslekler</a>
    <a href="/Settings/Index">Hesap Ayarları</a>
    <a href="#about">Yardım</a>
    <a href="#about">Çıkış Yap</a>
</div>

