<div class="sidebar">
    <a href="/Product/Index">Ürünler</a>
    <a href="/Customer/Index">Müşteriler</a>
    <a href="#contact">Kategoriler</a>
    <a href="#about">Yardım</a>
    <a href="#about">Çıkış Yap</a>
</div>

