@using PassingData.Models.ViewModel
@model CustomerAndProductVM

<p>
    Müşteriler
</p>

<ul>
    @foreach (var item in @Model.Customers)
   {
       <li>@item.FirstName</li>
   }
</ul>

<p>
    @Model.product.ProductName
</p>

<p>
    @Model.Date
</p>
