<h2 style="text-align:center">Kullanıcı Ekleme Sayfası</h2>

<form action="AddUser" method="post">
    <label for="name">Kullanıcı Adı</label> <br />
    <input type="text" name="userName"/> <br />
     <label for="surName">Kullanıcı Soyadı</label> <br />
    <input type="text" name="surName"/> <br />
    <button type="submit">Kullanıcı Ekle</button>
</form>
