
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
</head>
<body>
    <form action="AddProduct" method="post">
        <label for="ProductName">Product Name</label> <br />
        <input type="text" name="ProductName"/> <br />
        <label for="CategoryName">Category Name</label> <br />
        <input type="text" name="CategoryName"/> <br />
        <button type="submit" class="btn btn-success">Ekle</button>

    </form>
</body>
</html>
